
{{#each lifts as |lift|}}
  {{log lift}}
  <section data-id="{{lift.id}}" class="col-3 lift-item">
    <h6>Lift:</h6>
    <h3 class="lift-heading">
      {{limit lift.exercise 15}}
    </h3>
    <p>Lift ID: {{lift.id}}</p>
    <p><b>Weight:</b> {{lift.weight}} lbs.</p>
    <p><b>Reps:</b> {{lift.reps}}</p>
    <p>
      {{#if lift.user}}
        <b>User:</b> {{lift.user.first_name}} {{lift.user.last_name}}
      {{else}}
        No user provided.
      {{/if}}
    </p>
    {{> remove-lift id=lift.id}}
  </section>

{{/each}}
