{{#each lifts as |lift|}}
  {{log lift}}
  <section data-id="{{lift.id}}">
    <h6>Lift:</h6>
    <h3>
      {{limit lift.type 15}}
    </h3>
    <h6>User:</h6>
    <p>
      {{#if lift.user_id}}
        {{lift.user_id}}
      {{else}}
        No user provided.
      {{/if}}
    </p>
    {{> remove-lift id=lift.id}}
  </section>

{{/each}}
